<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as tL">
      <span>{{tL.remaining()}} of {{tL.todos.length}} remaining</span>
      [ <a href="" ng-click="tL.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in tL.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="tL.addTodo()">
        <input type="text" ng-model="tL.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>